/*==========================================
Variable Css
==========================================*/
$primary-color: #12283e;
$secondary-color: #a0ce4e;
$white-color: #fff;
$dark-color: #838383;


/*==========================================
Common Css
==========================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    height: 10000px;
}

/*==========================================
Fonts Css
==========================================*/

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

a{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    color: $white-color;
    &:hover{
        text-decoration: none;
        color: $white-color;
    }
}


/*==========================================
Header Css
==========================================*/

header{
    background: url(/img/hero-bg.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 0 50px 0;
    .hero{
        height: 87vh;
        padding-bottom: 50px;
        h1{
            color: $white-color;
        }

        span{
            color: $secondary-color;
        }

        p{
            color: $white-color;
        }

        a{
            border: 3px solid $secondary-color;
            padding: 10px 20px;
            transition: .2s ease all;
            &:hover{
                border: 3px solid #80aa37;
                color: rgb(224, 224, 224);
            }
        }
    }
}

/*==========================================
Optimized-Body Css
==========================================*/

.optimize-body{
    background: url(/img/sec1-bg.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0;

    .content{
        background: rgba(18, 40, 62, 0.8);
        width: 100%;
        height: fit-content;
        padding: 20px 0;
        .texts{
            height: 100%;
            .button{
                a{
                 background: none;
                 border: 2px solid $white-color;
                 padding: 8px 50px;
                 transition: .2s ease all;
                 &:hover{
                     border: 2px solid rgb(192, 192, 192);
                     color: rgb(192, 192, 192);
                 }
                }
                
             }
        }
    }
}

/*==========================================
Our Process Css
==========================================*/

.our-process{
    padding: 100px 0 50px 0;
    .contents{
       .texts{
        cursor: pointer;
        &:hover{
            i{
                color: $secondary-color;
                border: 2px solid $secondary-color;
            }

            h3{
                color: $secondary-color;
            }
        }
        i{
            
            color: $primary-color;
            font-size: 50px;
            padding: 20px;
            border: 2px solid $primary-color;
            border-radius:  50%;
            margin-left: 50%;
            transform: translateX(-50%);
            transition: .3s ease all;
        }

        .img{
            margin-left: 50%;
            transform: translateX(-50%);
        }
        
       }

       .bottom-head{
           color: #838383;
       }
    }
}