/*==========================================
Variable Css
==========================================*/
$primary-color: #12283e;
$secondary-color: #a0ce4e;
$white-color: #fff;
$dark-color: #838383;


/*==========================================
Common Css
==========================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    height: fit-content;
}

/*==========================================
Fonts Css
==========================================*/

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

a{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    color: $white-color;
    &:hover{
        text-decoration: none;
        color: $white-color;
    }
}


/*==========================================
Header Css
==========================================*/

header{
    background: url(/img/hero-bg.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 0 50px 0;
    .hero{
        height: 87vh;
        padding-bottom: 50px;
        h1{
            color: $white-color;
        }

        span{
            color: $secondary-color;
        }

        p{
            color: $white-color;
        }

        a{
            border: 3px solid $secondary-color;
            padding: 10px 20px;
            transition: .2s ease all;
            &:hover{
                border: 3px solid #80aa37;
                color: rgb(224, 224, 224);
            }
        }
    }
}

/*==========================================
Optimized-Body Css
==========================================*/

.optimize-body{
    background: url(/img/sec1-bg.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0;

    .content{
        background: rgba(18, 40, 62, 0.8);
        width: 100%;
        height: fit-content;
        padding: 20px 0;
        .texts{
            height: 100%;
            .button{
                a{
                 background: none;
                 border: 2px solid $white-color;
                 padding: 8px 50px;
                 transition: .2s ease all;
                 &:hover{
                     border: 2px solid rgb(192, 192, 192);
                     color: rgb(192, 192, 192);
                 }
                }
                
             }
        }
    }
}

/*==========================================
Our Process Css
==========================================*/

.our-process{
    padding: 100px 0 50px 0;
    .contents{
       .texts{
        cursor: pointer;
        &:hover{
            i{
                color: $secondary-color;
                border: 2px solid $secondary-color;
            }

            h3{
                color: $secondary-color;
            }
        }
        i{
            
            color: $primary-color;
            font-size: 50px;
            padding: 20px;
            border: 2px solid $primary-color;
            border-radius:  50%;
            margin-left: 50%;
            transform: translateX(-50%);
            transition: .3s ease all;
        }

        .img{
            margin-left: 50%;
            transform: translateX(-50%);
        }
        
       }

       .bottom-head{
           color: #838383;
       }
    }
}

/*==========================================
Gallery Slider Css
==========================================*/

.gallery-slider{
   padding: 80px 0;
    .img1{
        border-bottom: 9px solid $secondary-color;
    }
    .img2{
        border-bottom: 9px solid $primary-color;
    }
    .img3{
        border-bottom: 9px solid #f34a4a;
    }
   .img{
       position: relative;
       
       &::before{
           position: absolute;
           content: "";
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(18, 40, 62, 0.6);
           visibility: hidden;
           
       }

       .hover-text{
           position: absolute;
           bottom: 10px;
           left: 20px;
           color: white;
           z-index: 11;
           visibility: hidden;
       }
       
       &:hover{
            
     &::before{
        visibility: visible;
     }

     .hover-text{
         visibility: visible
     }
       }
    }
}

/*==========================================
Classes Css
==========================================*/
.classes{
    background: url(/img/sec5-bg.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    .women{
        .button{
            a{
                border: 2px solid $white-color;
                padding: 7px 20px;
                
                &:hover{
                    color: rgb(214, 214, 214);
                    border: 2px solid rgb(214, 214, 214);
                }
            }
        }
    }

    .men{
        color: #12283e;

        .button{
            a{
                border: 2px solid $primary-color;
                color: $primary-color;
                padding: 7px 20px;
                
                &:hover{
                    color: #1f4d7a;
                    border: 2px solid #1f4d7a;
                }
        }
        
    }
}

}

/*==========================================
Equiment Css
==========================================*/
.equipment{
    background-color: #f5f5f5;
    padding: 100px 0;
    .card{
        width: fit-content;
        .card-body{
            .button{
                a{
                    background: $primary-color;
                    padding: 7px 20px;
                }
            }
        }
    }
}


/*==========================================
Our Infos Css
==========================================*/
.our-infos{
    background-color: #f5f5f5;
    padding: 50px 0 200px 0;
    .info{
        margin-left: 50%;
        transform: translateX(-50%);
        background: $secondary-color;
        width: fit-content;
        padding: 35px  45px;
        border-radius: 100px;
        border: 6px solid $white-color;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
        cursor: pointer;
        transition: .3s ease all;
        &:hover{
            background-color: $primary-color;
            border: 6px solid $secondary-color;
        }
        i{
            margin-left: 50%;
            transform: translateX(-50%); 
        }
    }
}

/*==========================================
Imports Css
==========================================*/
.tweets{
    background: url(/img/sec8-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    padding: 110px 0;

    .button{
        .btn{
            background: $secondary-color;
            border-radius: 0;
            padding: 10px 30px;
            
        }
        
    }
}



/*==========================================
Social Medias Css
==========================================*/

.social{
    background: $secondary-color;
    border-bottom: 3px solid $white-color;
    padding: 50px 0;
    .icons{
        margin-left: 50%;
        transform: translateX(-45%);
        color: $white-color;
    }
}


/*==========================================
Footer Css
==========================================*/

footer{
    background: $secondary-color;
    width: 100%;
    height: fit-content;
    padding: 100px 0;

    .contact{
        h3{
            color: #12283e;
        }
    }

    .form{
        
        input{
            background: none;
            border: 1px solid white;
            color: white;
            width: 100%;
            padding: 10px 20px ;
            
        }
        
        a{
            background: $primary-color;
            padding: 8px 30px;
        }
    }

    
}

/*==========================================
Copyright Css
==========================================*/
.copyright{
    background: $primary-color;
    width: 100%;
    height: fit-content;
    padding: 20px 0 10px 0;
    a{
        margin-left: 5px;
        font-size: 16px;
    }
}


/*==========================================
Imports Css
==========================================*/


@import "slick-theme";
@import "slick";