@charset "UTF-8";
/*==========================================
Variable Css
==========================================*/
/*==========================================
Common Css
==========================================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/*==========================================
Fonts Css
==========================================*/
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/*==========================================
Header Css
==========================================*/
header {
  background: url(/img/hero-bg.jpg);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 50px 0;
}

header .hero {
  height: 87vh;
  padding-bottom: 50px;
}

header .hero h1 {
  color: #fff;
}

header .hero span {
  color: #a0ce4e;
}

header .hero p {
  color: #fff;
}

header .hero a {
  border: 3px solid #a0ce4e;
  padding: 10px 20px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

header .hero a:hover {
  border: 3px solid #80aa37;
  color: #e0e0e0;
}

/*==========================================
Optimized-Body Css
==========================================*/
.optimize-body {
  background: url(/img/sec1-bg.jpg);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}

.optimize-body .content {
  background: rgba(18, 40, 62, 0.8);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0;
}

.optimize-body .content .texts {
  height: 100%;
}

.optimize-body .content .texts .button a {
  background: none;
  border: 2px solid #fff;
  padding: 8px 50px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.optimize-body .content .texts .button a:hover {
  border: 2px solid silver;
  color: silver;
}

/*==========================================
Our Process Css
==========================================*/
.our-process {
  padding: 100px 0 50px 0;
}

.our-process .contents .texts {
  cursor: pointer;
}

.our-process .contents .texts:hover i {
  color: #a0ce4e;
  border: 2px solid #a0ce4e;
}

.our-process .contents .texts:hover h3 {
  color: #a0ce4e;
}

.our-process .contents .texts i {
  color: #12283e;
  font-size: 50px;
  padding: 20px;
  border: 2px solid #12283e;
  border-radius: 50%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.our-process .contents .texts .img {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.our-process .contents .bottom-head {
  color: #838383;
}

/*==========================================
Gallery Slider Css
==========================================*/
.gallery-slider {
  padding: 80px 0;
}

.gallery-slider .img1 {
  border-bottom: 9px solid #a0ce4e;
}

.gallery-slider .img2 {
  border-bottom: 9px solid #12283e;
}

.gallery-slider .img3 {
  border-bottom: 9px solid #f34a4a;
}

.gallery-slider .img {
  position: relative;
}

.gallery-slider .img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 40, 62, 0.6);
  visibility: hidden;
}

.gallery-slider .img .hover-text {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  z-index: 11;
  visibility: hidden;
}

.gallery-slider .img:hover::before {
  visibility: visible;
}

.gallery-slider .img:hover .hover-text {
  visibility: visible;
}

/*==========================================
Classes Css
==========================================*/
.classes {
  background: url(/img/sec5-bg.jpg);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.classes .women .button a {
  border: 2px solid #fff;
  padding: 7px 20px;
}

.classes .women .button a:hover {
  color: #d6d6d6;
  border: 2px solid #d6d6d6;
}

.classes .men {
  color: #12283e;
}

.classes .men .button a {
  border: 2px solid #12283e;
  color: #12283e;
  padding: 7px 20px;
}

.classes .men .button a:hover {
  color: #1f4d7a;
  border: 2px solid #1f4d7a;
}

/*==========================================
Equiment Css
==========================================*/
.equipment {
  background-color: #f5f5f5;
  padding: 100px 0;
}

.equipment .card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.equipment .card .card-body .button a {
  background: #12283e;
  padding: 7px 20px;
}

/*==========================================
Our Infos Css
==========================================*/
.our-infos {
  background-color: #f5f5f5;
  padding: 50px 0 200px 0;
}

.our-infos .info {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #a0ce4e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 35px  45px;
  border-radius: 100px;
  border: 6px solid #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.our-infos .info:hover {
  background-color: #12283e;
  border: 6px solid #a0ce4e;
}

.our-infos .info i {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*==========================================
Imports Css
==========================================*/
.tweets {
  background: url(/img/sec8-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 110px 0;
}

.tweets .button .btn {
  background: #a0ce4e;
  border-radius: 0;
  padding: 10px 30px;
}

/*==========================================
Social Medias Css
==========================================*/
.social {
  background: #a0ce4e;
  border-bottom: 3px solid #fff;
  padding: 50px 0;
}

.social .icons {
  margin-left: 50%;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
  color: #fff;
}

/*==========================================
Footer Css
==========================================*/
footer {
  background: #a0ce4e;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 100px 0;
}

footer .contact h3 {
  color: #12283e;
}

footer .form input {
  background: none;
  border: 1px solid white;
  color: white;
  width: 100%;
  padding: 10px 20px;
}

footer .form a {
  background: #12283e;
  padding: 8px 30px;
}

/*==========================================
Copyright Css
==========================================*/
.copyright {
  background: #12283e;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0 10px 0;
}

.copyright a {
  margin-left: 5px;
  font-size: 16px;
}

/*==========================================
Imports Css
==========================================*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: #12283e;
  height: 100%;
  width: 25px;
  margin-top: -2px;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: #12283e;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */